name: apply_tofu

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up OpenTofu
      uses: opentofu/setup-opentofu@v1
      with:
        tofu_version: 1.9.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        audience: sts.amazonaws.com
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        role-session-name: ${{ github.event.repository.name }}--${{ github.workflow }}--${{ github.run_number }}--${{ github.job }}

    - name: Debug - Check AWS Authentication
      run: |
        aws sts get-caller-identity

    - name: Do that OpenTofu that you do so well
      id: plan
      env:
        TF_VAR_repo_name: ${{ github.event.repository.name }}
        TF_VAR_github_app_id: ${{ secrets.EVOTEUMBOT_APP_ID }}
        TF_VAR_github_installation_id: ${{ secrets.EVOTEUMBOT_INSTALLATION_ID }}
        TF_VAR_github_app_private_key: ${{ secrets.EVOTEUMBOT_PRIVATE_KEY }}
      run: |
        cd tofu
        echo "Initializing OpenTofu"
        tofu init -backend-config="bucket=${{ secrets.TOFU_STATE_BUCKET_NAME }}"
        echo "Verifying backend configuration"
        tofu state list >/dev/null && echo "✓ State backend configured and accessible" || echo "✗ State backend not accessible"
        echo "Planning OpenTofu"
        tofu plan -input=false -out=tfplan | tee plan.txt
        echo "Showing OpenTofu plan"
        tofu show -json tfplan > tfplan.json
        if grep -q "No changes." plan.txt; then
          echo "changes=false" >> $GITHUB_OUTPUT
        else
          echo "changes=true" >> $GITHUB_OUTPUT
        fi


    - name: Apply OpenTofu configuration
      if: steps.plan.outputs.changes == 'true'
      run: |
        echo "Applying OpenTofu configuration"
        tofu apply tofu/tfplan
        