name: apply_tofu

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up OpenTofu
      uses: opentofu/setup-opentofu@v1
      with:
        tofu_version: 1.9.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        audience: sts.amazonaws.com
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
        role-session-name: ${{ github.event.repository.name }}--${{ github.workflow }}--${{ github.run_number }}--${{ github.job }}

    - name: Debug - Check AWS Authentication
      run: |
        aws sts get-caller-identity

    - name: Do that OpenTofu that you do so well
      env:
        TF_VAR_repo_name: ${{ github.event.repository.name }}
        TF_VAR_github_token: ${{ secrets.GITHUB_TOKEN }}
        TF_LOG: DEBUG
      run: |
        cd tofu
        echo "Initializing OpenTofu"
        tofu init -backend-config="bucket=${{ secrets.TOFU_STATE_BUCKET_NAME }}"
        echo "Verifying backend configuration"
        tofu state list >/dev/null && echo "✓ State backend configured and accessible" || echo "✗ State backend not accessible"
        echo "Planning OpenTofu"
        tofu plan -out=tfplan -input=false
        echo "Showing OpenTofu plan"
        tofu show -json tfplan > tfplan.json

    - name: Apply OpenTofu configuration
      run: |
        echo "Applying OpenTofu configuration"
        tofu apply tofu/tfplan
        