###################################################################################
# ⚠️ This file is controlled by OpenTofu in the estate-repos repository.
#    Manual changes will be overwritten the next time OpenTofu runs.
###################################################################################

name: tofu-apply-all-environments

on:
  workflow_dispatch:


  
  schedule:
    - cron: "0 23 * * *"  # Every day at 11 PM
  



jobs:
  call-tofu-apply-all-environments:
    uses: evoteum/estate-reusable-workflows/.github/workflows/tofu-apply-all-environments.yml@main
    